.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-background);
  color: white;
  padding: 10px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.navLinks {
  margin-top: 70px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  text-decoration: none;
  font-size: var(--font-size-md);
  padding: 8px 10px;
  margin: 0px 10px;
  transition: background-color 150ms ease;
  border-radius: 5px;
  user-select: none;

  &:hover {
    background-color: var(--sidebar__item-highlight);
  }
}

.menuButton {
  position: fixed;
  top: 8px;
  left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  padding: 8px;
  border-radius: 10px;
  &:hover {
    background-color: var(--sidebar__item-highlight);
  }
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    position: relative;
    width: 250px;
  }
}
